@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Shippori';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Shippori/ShipporiMincho-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

@tailwind utilities;
