<template>
  <main>
    <!--    Hero -->
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="relative bg-white overflow-hidden">
      <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
          <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
            <nav class="font-serif relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
              <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">

                <!--            Brand and menu    -->
                <div class="flex items-center justify-between w-full md:w-auto">
                  <NuxtLink to="/">
                    <span class="sr-only">Workflow</span>
                    <img class="h-8 w-auto sm:h-10" src="~/assets/img/hermes.png">
                  </NuxtLink>
                </div>
              </div>

              <!--              Links -->
              <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8">
                <a href="#" class="font-medium hover:text-gray-900">Maps</a>

                <a href="#" class="font-medium hover:text-gray-900">History</a>

                <!-- Locations Dropdown -->
                <div class="relative inline-block text-left">
                  <div @click="isOpen = !isOpen" class="inline-flex justify-center w-full">
                    <button type="button"
                            class="font-medium hover:text-gray-900"
                            id="options-menu"
                            aria-expanded="true"
                            aria-haspopup="true">
                      Locations
                    </button>
                      <!-- Heroicon name: solid/chevron-down -->
                      <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                      </svg>
                  </div>

                  <!--
                    Dropdown menu, show/hide based on menu state.

                    Entering: "transition ease-out duration-100"
                      From: "transform opacity-0 scale-95"
                      To: "transform opacity-100 scale-100"
                    Leaving: "transition ease-in duration-75"
                      From: "transform opacity-100 scale-100"
                      To: "transform opacity-0 scale-95"
                  -->
                  <transition enter-active-class="transition ease-out duration-100"
                              enter-class="opacity-0 scale-95"
                              enter-to-class="opacity-100 scale-100"
                              leave-active-class="transition ease-in duration-75"
                              leave-class="opacity-100 scale-100"
                              leave-to-class="opacity-0 scale-95">
                  </transition>
                  <div v-show="isOpen"
                       class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none"
                       role="menu"
                       aria-orientation="vertical"
                       aria-labelledby="options-menu">
                    <div class="py-1" role="none">
                      <NuxtLink to="/locations/krotnia" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Krotnia</NuxtLink>
                      <NuxtLink to="/locations/tekomoros" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Tekomoros</NuxtLink>
                    </div>
                  </div>
                </div>

                <a href="#" class="font-medium text-gray-500 hover:text-gray-900">
                  TCRY $0.34</a>
              </div>
            </nav>
          </div>

          <!--
            Mobile menu, show/hide based on menu open state.

            Entering: "duration-150 ease-out"
              From: "opacity-0 scale-95"
              To: "opacity-100 scale-100"
            Leaving: "duration-100 ease-in"
              From: "opacity-100 scale-100"
              To: "opacity-0 scale-95"
          -->
          <div class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
            <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
              <div class="px-5 pt-4 flex items-center justify-between">
                <div>
                  <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="">
                </div>
                <div class="-mr-2">
                  <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                    <span class="sr-only">Close main menu</span>
                    <!-- Heroicon name: outline/x -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="px-2 pt-2 pb-3 space-y-1">
                <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Product</a>

                <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Features</a>

                <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Marketplace</a>

                <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Company</a>
              </div>
              <a href="#" class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100">
                Log in
              </a>
            </div>
          </div>

          <div class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
            <div class="font-serif sm:text-center lg:text-left">
              <h1 class="text-3xl tracking-tight font-bold text-gray-900 sm:text-5xl md:text-5xl">
                <span class="block font-display">Hermes City</span>
                <span class="block text-secondary">a community for creators</span>
              </h1>
              <p class="font-sans mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                Become a citizen. Create and sell NFT Art. Buy virtual land to build art galleries, host auctions and live events.
              </p>
              <div class="font-sans mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                <div class="rounded-md shadow">
                  <button v-if="!account" @click="login()" class="bg-secondary text-primary w-full flex items-center justify-center px-8 py-3 border border-transparent rounded-md hover:bg-accent md:py-4 md:text-lg md:px-10">
                    Connect Metamask
                  </button>
                </div>
                <div v-if="account" class="rounded-md shadow">
                  <button class="bg-secondary text-primary w-full flex items-center justify-center px-8 py-3 border border-transparent rounded-md hover:bg-accent md:py-4 md:text-lg md:px-10">
                    Get Passport
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
             src="~/assets/img/landing/shield-map.jpeg"
             alt="">
      </div>
    </div>

    <!-- TEKOMOROS NETWORK FEATURE 1 -->
    <div class="py-12 bg-white">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
          <!--          <h2 class="text-base text-secondary font-semibold tracking-wide uppercase">tekomoros network</h2>-->
          <p class="font-serif mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
            How it works?
          </p>
          <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
            Become an Hermes Citizen to maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
          </p>
        </div>

        <div class="mt-10">
          <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
            <div class="relative">
              <dt>
                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-secondary text-white">
                  <!-- Heroicon name: outline/globe-alt -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">
                  Become a Citizen</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Buy an Hermes City Passport. Register to choose a type of passport: Creator, Host, Tourist.
              </dd>
            </div>

            <div class="relative">
              <dt>
                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-secondary text-white">
                  <!-- Heroicon name: outline/scale -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" />
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Buy Land</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Buy Torrecarey to obtain land in Hermes. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
              </dd>
            </div>

            <div class="relative">
              <dt>
                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-secondary text-white">
                  <!-- Heroicon name: outline/lightning-bolt -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Farm Land</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Lease your land for virtual event. Host games, auctions, live events. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
              </dd>
            </div>

            <div class="relative">
              <dt>
                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-secondary text-white">
                  <!-- Heroicon name: outline/annotation -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Create and Sell NFT Art</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                If you are an artist, become a citizen to create art in the Tekomoros Network and auction it in onw of Hermes virtual land events.
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <!-- Newsletter -->
    <div class="bg-gray-50">
      <div class="font-serif max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
        <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
          <span class="block">
            Want to stay in the loop?</span>
          <span class="block text-secondary">
            Receive the Hermes Newsletter</span>
        </h2>
        <div class="font-sans mt-8 flex lg:mt-0 lg:flex-shrink-0">
          <div class="inline-flex rounded-md shadow">
            <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-secondary hover:bg-accent">
              Subscribe
            </a>
          </div>
          <div class="mt-3 sm:mt-0 sm:ml-3">
            <button @click="login()"
                    class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 md:py-4 md:text-lg md:px-10">
              Get Passport
            </button>
          </div>
        </div>
      </div>
    </div>

  </main>
</template>
<script lang="ts">
  import Vue from 'vue';
  import Web3 from 'web3'
  import {Common} from "web3-core";

  const Networks  = {
    BSC_TESTNET: {
      name: 'Testnet Binance Smart Chain',
      id: '97'
    }
  }
  const abi = [
    {
      "payable": true,
      "stateMutability": "payable",
      "type": "fallback"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "user",
          "type": "address"
        },
        {
          "name": "token",
          "type": "address"
        }
      ],
      "name": "tokenBalance",
      "outputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "users",
          "type": "address[]"
        },
        {
          "name": "tokens",
          "type": "address[]"
        }
      ],
      "name": "balances",
      "outputs": [
        {
          "name": "",
          "type": "uint256[]"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    }
  ];

  const tcyshwAddress = '0x6aa524f3070e6d59d87f6b2d6a13aafd202194fc';
  // const tcyshwAddress = '0x2b8ff854c5e16cf35b9a792390cc3a2a60ec9ba2';
  // owner is addr at storage 0
  // balanceOf is mapping of uint256 at storage 1
  // allowance is mapping of uint256 at storage 2
  // totalSupply is uint256 at storage 3
  // name is array of uint256 at storage 4
  // symbol is array of uint256 at storage 5
  // decimals is uint8 at storage 6
  // const abi = [
  //   {
  //     constant
  //   }
  // ]

  export default Vue.extend({
    mounted() {
      const provider = this.getEthereumProvider();

      if (provider) {
        console.log(provider.networkVersion)
        console.log('MetaMask is installed!');
        console.log('Network', Networks.BSC_TESTNET.id);


      } else {
        console.log('No MetaMask!');
      }

      // // let web3 = new Web3(Web3.givenProvider || "ws://localhost:8545");
      // const web3 = new Web3('https://data-seed-prebsc-1-s1.binance.org:8545');
      // // web3.eth.getBalance('0xfdCfb0b2970cfb8e1a8031Ad93C391646c4eB8b0')


    },
    data () {
      return {
        isOpen: false,
        ethereum: undefined,
        account: ''
      }
    },
    methods: {
      login (): void {
        const provider = this.getEthereumProvider();
        if(provider.networkVersion !== Networks.BSC_TESTNET.id) {
          window.alert('Please change your network to Binance Smart Chain Testnet')
        } else {
          provider.request({ method: 'eth_requestAccounts' })
              .catch((error: any) => {
                console.log('Error', error);
                window.alert(error.message)
              })
              .then((accounts: string[]) => {
                console.log('Restult', accounts)
                // const bi: any = ...;
                this.account = accounts[0]
                // const web3 = new Web3('https://data-seed-prebsc-1-s1.binance.org:8545');
                const web3 = new Web3('http://127.0.0.1:7545');
                // const constract = new web3.eth.Contract(...,)
                // web3.eth.getBalance('0x3d04d3F25440BF71fFe7267155b3597ab7A38058')
                web3.eth.getBalance('0x64D1cF34613fcF987512bce877EaECCbA0057537')
                    .then((balance: any) => {
                      console.log('The account balance', web3.utils.fromWei(balance))
                    });

                web3.eth.getAccounts().then((result) => console.log('accounts', result))
                // web3.eth.sendTransaction()


                const txConfig = {
                  from: '0x3d04d3F25440BF71fFe7267155b3597ab7A38058',
                  to: '0x6FC670C7F40cBaC8060050DAF8220AEbcf0EFd67',
                  value: web3.utils.toWei('1'),
                  gas: 6721975,
                  gasPrice: 20000000000,
                  data: web3.utils.asciiToHex('Fuck you'),
                  nonce: 25,
                }
                web3.eth.sendTransaction(txConfig)
                    .catch((error: any) => console.log(error))
                    .then((result: any) => {
                      console.log('Result', result)
                    })

              });
        }
      },
      setEthereumProvider(): void {
        this.ethereum = (window as any).ethereum;
      },
      getEthereumProvider() {
        return (window as any).ethereum;
      }
    }
  });
</script>
